modules = ["nodejs-20", "web"]
run = "npm install && cd client && npm install && npm run build && cd .. && npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install && cd client && npm install && npm run build && cd .. && npm start"]

[[ports]]
localPort = 3000
externalPort = 80
